<div class="page">
    <div class="scrollable-container">
        <p class="typing-effect">{{ displayedText }}</p>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; color: white; overflow-x: visible; overflow-y: hidden;">
        <div class="fade-in">
            <i class="ri-mail-line"></i>
            <p>shady.ghozais<i class="ri-at-line" style="font-size: 10px; color: white;"></i>gmail.com</p>
        </div>
        <div class="fade-in">
            <i class="ri-smartphone-line"></i>
            <p>01017810025</p>
        </div>
        <div class="fade-in">
            <i class="ri-linkedin-box-fill"></i>
            <p>https://www.linkedin.com/in/shady-ashraf-834353331/</p>
        </div>

        
    </div>


</div>
