@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

canvas {
  width: 100% !important; 
  height: auto !important; 
  max-height: 300px; 
}

.chart {
  flex-direction: column;
  text-align: center;
  display: flex;
  height: auto;
  margin: 10px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.control-charts {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%; 
  margin: auto;
  justify-content: space-around;
}

.skills-container {
  width: 100%;
  margin: auto;
  overflow-y: auto; 
  max-height: 100vh; 
}

.illustrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "PT Serif", serif;
  margin-bottom: 50px;
}

h1 {
  font-size: 2.5rem;
  margin: 5px;
}

p {
  font-size: 1.2rem;
  color: white;
}

@media (max-width: 717px) and (min-width: 200px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    overflow-y: auto; /* Ensure vertical scrolling works */
    max-height: 100vh; /* Viewport height */
    padding: 0 10px;
  }

  .control-charts {
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .illustrate {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .chart {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%; /* Full width */
    box-sizing: border-box;
  }

  canvas {
    width: 100% !important;
    height: 200px !important;
  }


}


@media (max-width: 1981px) and (min-width: 1275px) {
  .charta {
    display: none !important;
  }
}
