<div
  class="skills-container"
>
  <div class="illustrate">
    <h1>My Skills Page</h1>
    <p>Chart to illustrate my capabilities</p>
  </div>

  <div class="control-charts">
    <div class="chart">
      <h3>UI/UX Chart</h3>
        <canvas id="expertiseChartUi"></canvas>
    </div>

    <div class="chart">
      <h3>Web Chart</h3>
      <canvas id="expertiseChartWeb"></canvas>
    </div>

    <div class="chart">
      <h3>FrameWork Chart</h3>
      <canvas id="expertiseChartFrameWork"></canvas>
    </div>

    <div  style="display: flex; flex-direction: column;">
      <div class="chart">
        <h3>App Chart</h3>
        <canvas id="expertiseChartApp"></canvas>
      </div>
  
      <div class="charta" style="margin-top: 20px;">
        <canvas id="expertiseChartApps"></canvas>
      </div>
    </div>
  </div>


</div>
