<div class="container">
    <div>
      <div class="center">
        <h1 class="typing-text" style="font-size: 25px; margin-bottom: 20px;">Welcome Sir</h1>
        <h2 class="typing-text " style="margin-bottom: 20px; position: relative; z-index: 1;">My Name is Shady</h2>
      </div>
      <h4>I'm a <strong>Front End Developer</strong></h4>
      <p>
        I am a fresh Front-end Engineer in Angular, using latest technologies like Angular 18, Postman, and Swagger.
        I aim to take the first step in my career by collaborating with professional
        corporates on projects that add value to the people and community.
      </p>

      <button (click)="downloadCV()" class="download-btn">Download CV</button>
    </div>
  
    <div class="image-section">
      <div class="image-background"></div>
      <img src="./assets/Web-app-development-2.jpg" alt="Shady's Image" class="profile-image fade-in">
    </div>
  
  </div>
  